<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width,initial-scale=1.0">
        <title> Departmental Website Design</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section class="header">
            <nav>
                <a href="index.html"><img src="images/logo.png"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="#Home">HOME</a></li>
                        <li><a href="#Faculty">FACULTY</a></li>
                        <li><a href="#Atrium">ATRIUM</a></li>
                        <li><a href="#Payments">PAYMENTS</a></li>
                        <li><a href="#Contact">CONTACT</a></li>
                    </ul>
                </div>
            </nav>
        <div class="text-box">
            <h1>The Department of Artificial Intelligence<br> and Data Science</h1>
            <p>Where Passion meets Technology and Algorithms shape Possibilities.</p>
            <a href="https://bit.ly/AI_DS_SMIT" class="hero-btn">Visit us to know more</a>
        </div>
        </section>
        <section id="Atrium" class="Council">
            <h1>ATRIUM COUNCIL</h1>
            <p class="council-desc">ONE HEART | ONE DREAM | INFINITE POSSIBILITIES</p>
            <div class="row">
                <div class="member-col">
                    <img src="images/akhil.jpeg" alt="">
                    <div class="paragraph-box">
                        <h3>Akhil Menon</h3>
                        <h4>President,ATRIUM COUNCIL</h4>
                        <p>Why did the scarecrow win an award?
                            Because he was outstanding in his field!
                            I'm Akhil Menon, President of the ATRIUM Council
                            and I hope to be outstanding in mine!
                            Reading books, programming, and building
                            projects captivate me greatly. Calisthenics, playing badminton & volleyball, 
                            are my favourite sport activities. Believing in my moto of making the world 
                            a better place to live in. I've always worked towards the same.You are welcome 
                            to talk to me about any problem you are facing and I would be more than happy
                            to assist you with programming and fitness-related queries.                        
                            Life can be challenging at times, but keep in mind that you can do it; 
                            I believe in you :)) <br>
                            LETS MAKE AI&DS THE BEST DEPARTMENT EVER!!!!!!</p>
                    </div>
                </div>
                <div class="member-col">
                    <img src="images/ahana.jpeg">
                    <div class="paragraph-box">
                        <h3>Ahana Sadh</h3>
                        <h4>Department Representative(Girls),ATRIUM COUNCIL</h4>
                        <p>Hey there! I'm Ahana Sadh, the Department representative(Girls).
                           My whole personality revolves around whoever my current favourite
                           fictional character is. Other than using cleaning and organising as a 
                           way to procastinate, my day is usually spent reading, watching shows,
                           and spending time with my friends. Feel free to approach me for anything
                           you need. Let's make AI&DS the best department here!
                        </p>
                    </div>
                </div>
                <div class="member-col">
                    <img src="images/nithin.jpeg">
                    <div class="paragraph-box">
                        <h3>Madathala Nithin Reddy</h3>
                        <h4>Department Representative(Boys),ATRIUM COUNCIL</h4>
                        <p>I'm Nithin reddy , Department representative of the ATRIUM Council.
                           reading lots of graphic novel and non-fiction books, playing cricket,
                           irritating my favourite person are my hobbies.I had a dream for the
                           future…To Become A Cricketer and now never really thought about it,
                           I'm sick of following my dreams, I'm just going to ask where they're
                           going and hook up with "em later." Remember "sometimes you need to stand
                           alone to stand out".<br>
                           LETS MAKE AI&DS THE BEST DEPARTMENT!
                        </p>
                    </div>
                </div>
                <div class="member-col">
                    <img src="images/shivam.jpeg">
                    <div class="paragraph-box">
                        <h3>Shivam Saurav</h3>
                        <h4>Training and Placement Coordinator,ATRIUM COUNCIL</h4>
                        <p>Hi, my name is Shivam Sourav, the training and placement coordinator.
                           If any question arises regarding the training and placement then you can<br>
                           approach me anyday if not in the campus then in the old boys hostel.
                           My hobbies are playing cricket and Bgmi.
                        </p>
                    </div>
                </div>
                <div class="member-col">
                    <img src="images/shubham.jpeg">
                    <div class="paragraph-box">
                        <h3>Shubham Raj Satyam</h3>
                        <h4>Sports Secretary,ATRIUM COUNCIL</h4>
                        <p>"One man practicing sportsmanship is far better than 50 preaching it".
                            I’m Shubham Raj Satyam, Sports secretary of ATRIUM council ,SMIT.
                            My strengths are self-motivated person, a quick learner, easy to adapt
                            to any situation, a Positive thinker. Hobbies are Playing Cricket,
                            Web Series,Driving,Swimming.I hope you all are doing well :)) 
                            Just Keep It UP. AI&DS-The BEST.
                        </p>
                    </div>
                </div>
                <div class="member-col">
                    <img src="images/sneha.jpeg">
                    <div class="paragraph-box">
                        <h3>Sneha Das Choudhury</h3>
                        <h4>Cultural Secretary,ATRIUM COUNCIL</h4>
                        <p>Hey there, this is Sneha Das Choudhury, Cultural Secretary of the ATRIUM COUNCIL.
                            Reading books,watching movies and listening to music are my go to activities whenever I get time.
                            With this position there comes a huge responsibility i.e. meeting people's expectations. 
                            I hope I would be successful in putting out my best foot forward and giving my best during my tenure.
                            Looking forward to have lots of fun and making this year a memorable one!
                        </p>
                    </div>
                </div>
                <div class="member-col">
                    <img src="images/aniket.jpeg">
                    <div class="paragraph-box">
                        <h3>Aniket Rai</h3>
                        <h4>Technical Secretary,ATRIUM COUNCIL</h4>
                        <p>Hey there I'm Aniket Rai, if there is any query related to technicalities 
                           you can approach me either through WhatsApp or personally so that I can 
                           solve your issues myself or with some help. Thank you.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="Contact" class="Contact">
            <h1>Get in touch with us!</h1>
            <div class="logos">
                <a href="https://bit.ly/atrium_insta" class="insta">
                    <img src="images/instagram.png" alt="insta">
                </a>
                <a href="https://bit.ly/atrium_insta" class="linkedin">
                    <img src="images/linkedin.png" alt="linkedin">
                </a>
            </div>
                
        </section>
        <script src="script.js"></script>
    </body>
</html>